---
// import { config } from "../config";

const services = [
  {
    title: "Specialiști autorizați ANRE",
    description: "Echipă calificată care execută toate lucrările conform standardelor în vigoare",
    icon: '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z" /></svg>'
  },
  {
    title: "Intervenție Rapidă în Avarii",
    description: "Răspundem prompt la orice tip de urgență electrică în toată zona Constanței",
    icon: `<svg viewBox="0 0 21 17" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M3.675 0C2.80547 0 2.1 0.713867 2.1 1.59375V3.1875H0.525C0.23625 3.1875 0 3.42656 0 3.71875C0 4.01094 0.23625 4.25 0.525 4.25H2.1H8.925C9.21375 4.25 9.45 4.48906 9.45 4.78125C9.45 5.07344 9.21375 5.3125 8.925 5.3125H2.1H1.575C1.28625 5.3125 1.05 5.55156 1.05 5.84375C1.05 6.13594 1.28625 6.375 1.575 6.375H2.1H7.875C8.16375 6.375 8.4 6.61406 8.4 6.90625C8.4 7.19844 8.16375 7.4375 7.875 7.4375H2.1H0.525C0.23625 7.4375 0 7.67656 0 7.96875C0 8.26094 0.23625 8.5 0.525 8.5H2.1H6.825C7.11375 8.5 7.35 8.73906 7.35 9.03125C7.35 9.32344 7.11375 9.5625 6.825 9.5625H2.1V13.8125C2.1 15.5723 3.51094 17 5.25 17C6.98906 17 8.4 15.5723 8.4 13.8125H12.6C12.6 15.5723 14.0109 17 15.75 17C17.4891 17 18.9 15.5723 18.9 13.8125H19.95C20.5308 13.8125 21 13.3377 21 12.75C21 12.1623 20.5308 11.6875 19.95 11.6875V9.5625V8.5V7.8791C19.95 7.31465 19.7302 6.77344 19.3364 6.375L16.8 3.8084C16.4062 3.40996 15.8714 3.1875 15.3136 3.1875H13.65V1.59375C13.65 0.713867 12.9445 0 12.075 0H3.675ZM17.85 7.8791V8.5H13.65V5.3125H15.3136L17.85 7.8791ZM5.25 12.2188C5.66772 12.2188 6.06832 12.3867 6.36369 12.6855C6.65906 12.9844 6.825 13.3898 6.825 13.8125C6.825 14.2352 6.65906 14.6406 6.36369 14.9395C6.06832 15.2383 5.66772 15.4062 5.25 15.4062C4.83228 15.4062 4.43168 15.2383 4.13631 14.9395C3.84094 14.6406 3.675 14.2352 3.675 13.8125C3.675 13.3898 3.84094 12.9844 4.13631 12.6855C4.43168 12.3867 4.83228 12.2188 5.25 12.2188ZM14.175 13.8125C14.175 13.3898 14.3409 12.9844 14.6363 12.6855C14.9317 12.3867 15.3323 12.2188 15.75 12.2188C16.1677 12.2188 16.5683 12.3867 16.8637 12.6855C17.1591 12.9844 17.325 13.3898 17.325 13.8125C17.325 14.2352 17.1591 14.6406 16.8637 14.9395C16.5683 15.2383 16.1677 15.4062 15.75 15.4062C15.3323 15.4062 14.9317 15.2383 14.6363 14.9395C14.3409 14.6406 14.175 14.2352 14.175 13.8125Z" fill="#FFB128"/>
</svg>
`
  },
  {
    title: "Servicii Complete",
    description: "De la proiectare și execuție până la mentenanță, acoperim întreaga gamă de servicii electrice și de climatizare",
    icon: `<svg viewBox="0 0 18 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M17.2129 11.5983L6.35682 22.3874C6.2418 22.5013 6.09299 22.5745 5.93285 22.5961C5.77271 22.6177 5.60993 22.5864 5.46907 22.507C5.32822 22.4277 5.21693 22.3045 5.152 22.1561C5.08708 22.0076 5.07203 21.842 5.10914 21.6843L6.74094 14.8951L1.46 12.6656C1.34658 12.6179 1.24672 12.5428 1.16932 12.4469C1.09193 12.351 1.03943 12.2373 1.01651 12.1161C0.99358 11.9949 1.00095 11.8698 1.03795 11.7521C1.07495 11.6344 1.14043 11.5278 1.22854 11.4416L12.0846 0.65252C12.1996 0.538654 12.3484 0.465402 12.5086 0.443818C12.6687 0.422233 12.8315 0.453487 12.9723 0.532864C13.1132 0.612241 13.2245 0.735433 13.2894 0.883851C13.3543 1.03227 13.3694 1.19786 13.3323 1.35563L11.6965 8.15213L16.9775 10.3788C17.0901 10.4268 17.1891 10.5018 17.2659 10.5973C17.3427 10.6928 17.3948 10.8058 17.4177 10.9263C17.4406 11.0469 17.4335 11.1712 17.3972 11.2884C17.3608 11.4055 17.2962 11.5119 17.2091 11.5981L17.2129 11.5983Z" fill="#FFB128"/>
</svg>
`
  }
];

// const phoneNumber = config.phoneNumber;
---

<section class="pt-8 pb-16">
  <div class="container mx-auto max-w-5xl px-4">
    <div class="grid md:grid-cols-3 md:gap-8 gap-4">
      {services.map((service) => (
        <div class="bg-white rounded-lg border border-accent overflow-hidden flex flex-col md:items-center items-start md:text-center text-left md:px-6 px-4 md:py-8 py-4">
          <div class="h-12 w-12 text-accent mb-4" set:html={service.icon} />
          <h3 class="text-xl font-bold text-title md:mb-4 mb-2">{service.title}</h3>
          <p class="text-gray-600">{service.description}</p>
        </div>
      ))}
    </div>
    <!-- <p class="text-left border rounded-lg border-accent mx-auto p-6 bg-accent bg-opacity-10 mt-6">
      Apelați acum pentru a solicita un electrician autorizat la adresa dumneavoastră. 
      <a href={`tel:${phoneNumber.code}`} class=" font-bold">{phoneNumber.display}</a> 
      (apel cu tarif normal). Este important de reținut că atunci când vă decideți să lucrați cu un electrician 
      (fie el autorizat sau nu), transferați responsabilitatea siguranței dumneavoastră, 
      a familiei sau a companiei dumneavoastră în mâinile acestuia.
    </p> -->
  </div>

</section>